# Numpy vs Pandas: Exercises

We explore a numerical dataset freely avaible under MIT license on Kaggle, a platform for data science competitions and datasets. 

The dataset focuses on solar system objects and contains several attributes.

In [52]:
import pandas as pd 

df = pd.read_csv("kaggle_solar/sol_data.csv")
df

,eName,isPlanet,semimajorAxis,perihelion,aphelion,eccentricity,inclination,density,gravity,escape,...,orbits,bondAlbido,geomAlbido,RV_abs,p_transit,transit_visibility,transit_depth,massj,semimajorAxis_AU,grav_int
0,Moon,False,384400,363300,405500,0.0549,5.145,3.344,1.6200,2380.000,...,Earth,NaN,NaN,NaN,1.811589,326.086108,2.245860e-09,3.868421e-05,0.002570,6.606324e+25
1,Phobos,False,9376,9234,9518,0.0151,1.075,1.900,0.0057,11.390,...,Mars,NaN,NaN,NaN,74.272078,13368.973976,2.245860e-09,5.578947e-12,0.000063,1.601437e+22
2,Deimos,False,23458,23456,23471,0.0002,1.075,1.750,0.0030,5.556,...,Mars,NaN,NaN,NaN,29.686035,5343.486231,2.245860e-09,1.263158e-12,0.000157,5.792534e+20
3,Io,False,421800,0,0,0.0040,0.036,3.530,1.7900,0.000,...,Jupiter,NaN,NaN,NaN,1.655200,297.936060,6.842474e-06,4.700000e-05,0.002820,6.666188e+25
4,Europa,False,671100,0,0,0.0090,0.466,3.010,1.3100,0.000,...,Jupiter,NaN,NaN,NaN,1.039939,187.188949,5.023997e-06,2.526316e-05,0.004486,1.415487e+25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,S/2017 J 8,False,23233000,0,0,0.3120,164.700,1.000,0.0000,0.000,...,Jupiter,NaN,NaN,NaN,0.029972,5.394983,5.155785e-13,1.263158e-11,0.155303,5.905272e+15
261,S/2017 J 9,False,21487000,0,0,0.2290,152.700,1.000,0.0000,0.000,...,Jupiter,NaN,NaN,NaN,0.032408,5.833380,4.640207e-12,1.263158e-11,0.143632,6.903971e+15
262,Ersa,False,11483000,0,0,0.0940,30.600,1.000,0.0000,0.000,...,Jupiter,NaN,NaN,NaN,0.060641,10.915425,4.640207e-12,1.263158e-11,0.076759,2.417351e+16
263,Ultima Thule,False,6633400000,0,0,0.0000,0.000,1.000,0.0000,0.000,...,NaN,NaN,NaN,NaN,0.000105,0.018896,2.245860e-09,1.263158e-11,44.341540,7.243995e+10
264,101955 Bennu,False,168400000,0,0,0.0000,0.000,1.000,0.0000,0.000,...,NaN,NaN,NaN,NaN,0.004135,0.744344,2.245860e-09,1.263158e-11,1.125684,1.124000e+14

## Exercise 1: Extracting numpy arrays 

- Select the columns `semimajorAxis`, `density`, and `gravity` from the DataFrame `df` and convert them into a `numpy` array named `np_solar_data`. 
- Then, design a **test** (e.g. using an `if/else` statement or an `assert` statement) to verify that `np_solar_data` is indeed a `numpy` array. Notice that simply printing the type of `np_solar_data` is not a test!


**Reminder.** An `assert` statement is a way to test if a condition in your code returns `True`. If not, the program will raise an `AssertionError`. 

It uses the keyword `assert` followed by the condition to test and an optional error message.

```python
assert condition, "Error message if condition is False"
```
**Hint.** If the conversion to `numpy` array is correct, then the type of `np_solar_data` should be `np.ndarray`

In [57]:
## SOLUTION
import numpy as np
np_solar_data = df[['semimajorAxis','density','gravity']].to_numpy()
# checking that the conversion was successful (assertion)
assert type(np_solar_data) == np.ndarray, "The conversion was not successful"
# alternatively, you can use if/else
if type(np_solar_data) == np.ndarray:
    print("The conversion was successful")  
else:
    print("The conversion was not successful")

The conversion was successful